.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.bg-emerald-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 253 245 / var(--tw-bg-opacity, 1));
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
.container {
    width: 100%;
}
.font-bold {
    font-weight: 700;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-center {
    text-align: center;
}
.mb-4 {
    margin-bottom: 1rem;
}
h2{
    margin: 0;
}
@media (min-width: 1024px) {
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.gap-8 {
    gap: 2rem;
}
.grid {
    display: grid;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.p-8 {
    padding: 2rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.rounded-2xl {
    border-radius: 1rem;
}
.items-center {
    align-items: center;
    
}
.flex {
    display: flex;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.rounded-full {
    border-radius: 9999px;
}
.w-12 {
    width: 5rem;
}
.h-12 {
    height: 5rem;
}
img {
    max-width: 100%;
    display: block;
}
.font-bold {
    font-weight: 700;
}
h4 {
    margin: 0;
}
.text-amber-400 {
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
}
