.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
.container {
    width: 100%;
}
.font-bold {
    font-weight: 700;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-center {
    text-align: center;
}
.mb-4 {
    margin-bottom: 1rem;
}
h2{
    margin: 0;
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.text-center {
    text-align: center;
}
.mb-12 {
    margin-bottom: 3rem;
}
p {
    margin: 0;
}
@media (min-width: 1024px) {
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.gap-8 {
    gap: 2rem;
}
.grid {
    display: grid;
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.rounded-2xl {
    border-radius: 1rem;
}
.overflow-hidden {
    overflow: hidden;
}
.p-6 {
    padding: 1.5rem;
}
.font-bold {
    font-weight: 700;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
h3 {
    margin: 0;
}